// !Dark theme colors
$dark-bg-color: #141414;
$dark-bg-color-page: #0a0a0a;
$dark-bg-color-overlay: #1d1e1f;
$dark-text-color-primary: #ffffff;
$dark-text-color-regular: #e5eaf3;
$dark-border-color: #4c4d4f;
$dark-background: #131415;
$dark-text-color: #f5efe4;

// Dark theme card colors
$dark-card-bg: #1d1e1f;
$dark-card-border: #4c4d4f;
$dark-card-text: #ffffff;
$dark-card-header-bg: rgba(29, 30, 31, 0.2);

// Dark theme menu colors
$dark-menu-bg: #151616;
$dark-menu-text: #f5efe4;
$dark-menu-hover-bg: #97d6d600;
$dark-menu-active: #97d6d6;
$dark-menu-active-bg: #192b15;
$dark-menu-active-text: #ffffff;
$dark-menu-hover-text: #ffffff;

// Dark theme button colors
$dark-button-bg: #151616;
$dark-button-text: #f5efe4;
$dark-button-hover-bg: #d2d1d1;

// Dark theme button active colors
$dark-button-active-bg-color: #f5e4e4;
$dark-button-hover-text-color: #151616;
$dark-button-active-text-color: #151616;
$dark-button-hover-border-color: #808080;

// !Arma theme colors
$arma-bg-color-page: #41413e;
$arma-bg-color: #141414;
$arma-bg-color-overlay: #1d1e1f;
$arma-text-color-primary: #ffffff;
$arma-text-color-regular: #e5eaf3;
$arma-border-color: #4c4d4f;
$arma-background: #131415;
$arma-text-color: #f5efe4;

// Dark theme card colors
$arma-card-bg: #5f5245;
$arma-card-border: #4c4d4f;
$arma-card-text: #ffffff;
$arma-card-header-bg: rgba(29, 30, 31, 0.2);

// Dark theme menu colors
$arma-menu-bg: #737369;
$arma-menu-text: #f5efe4;
$arma-menu-hover-bg: #97d6d600;
$arma-menu-active: #97d6d6;
$arma-menu-active-bg: #192b15;
$arma-menu-active-text: #ffffff;
$arma-menu-hover-text: #ffffff;

// Dark theme button colors
$arma-button-bg: #151616;
$arma-button-text: #f5efe4;
$arma-button-hover-bg: #d2d1d1;

// Dark theme button active colors
$arma-button-active-bg-color: #f5e4e4;
$arma-button-hover-text-color: #151616;
$arma-button-active-text-color: #151616;
$arma-button-hover-border-color: #808080;
